
body {
      font-family: 'Oswald', sans-serif;
      color: #3a3a3a;
      background-color: #FFFFFF;
}

.container-fluid {
      margin: 5px auto;
      margin-left: 50px !important;
      margin-right: 50px !important;
}

h3 {
      text-align: center;
      margin-bottom: 1em;
}

h2.app-title {
      text-align: center;
}

.box {
      max-width: 200px;
      max-height: 250px;
      overflow: hidden;
      cursor: pointer;
 }

.box a img {
      width: 100%;
      max-width: 420px;
      height: auto;
      opacity: 0.75;
      overflow: hidden;
      transition-timing-function: ease-in;
      transition: 1.5s;
}

.box a img:hover {
      opacity: 1;
      -moz-transform: scale(1.25);
      -webkit-transform: scale(1.25); 
      transform: scale(1.25);
      transition-timing-function: ease-in;
      transition: 1.5s;
}

a:hover,
a:focus {
     color: #23527c;
     text-decoration: none !important ;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 32.26%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}
